/* LandingPage.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

.map-and-list {
  display: flex;
  flex: 1;
  gap: 20px;
  overflow: hidden;
  justify-content: center;

}

/* Styles for UserSearchForm */
/* Add styles as needed */

/* Styles for Map */
.map-container {
  flex: 0 0 60%;
  height: 100%;
}

/* Styles for UserMikvesList */
.mikves-list-container {
  flex: 0 0 40%;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .map-and-list {
      flex-direction: column;
  }

  .map-container,
  .mikves-list-container {
      flex: none;
      width: 100%;
  }

  .map-container {
      height: 50vh;
  }

  .mikves-list-container {
      height: auto;
      max-height: 50vh;
  }
}