/* MikveDetailsPopup.css */

.mikve-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.mikve-popup-content {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: -webkit-fill-available;
    max-width: 30%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    direction: rtl;
}

.close-popup {
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: #605371;
    padding: 5px 10px;
    border-radius: 5px;
}

.close-popup:hover {
    background-color: #4a3f5a;
}

.mikve-map {
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}

.mikve-map img {
    max-width: 100%;
    border-radius: 8px;
}

.mikve-map:hover {
    opacity: 0.8;
}

/* Additional styles for the popup content */
.mikve-popup-content h2 {
    margin-top: 0;
    color: #605371;
    width: 100%;
    text-align: right;
}

.mikve-popup-content p {
    margin: 5px 0;
    width: 100%;
    text-align: right;
}

.mikve-popup-content strong {
    color: #00aec6;
}

@media (max-width: 768px) {
    .mikve-popup-content{
        max-width: 80%;
    }
}