/* UserSearchForm.css */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 20px;
    flex-direction: row;
}

.search-bar-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
}

.search-bar {
    padding: 10px;
    font-size: 16px;
    width: 200%;
    height: 40px;
    border-radius: 35px;
}

.search-button {
    background: none;
    border: none;
    color: white;
    background-color: #605379;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.search-button:hover {
    background-color: #4a3f5a;
}

.filters {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.select-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 35px;
    width: 100%;
    height: 40px;
}

.select-header {
    margin-bottom: 5px;
    font-size: 16px;
}

.select-input {
    width: 90%;
    height: 30px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 20px;
}

.search-type {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-type label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-type input[type="checkbox"] {
    margin-right: 5px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 80%;
}

.popup-content p {
    font-size: 24px;
    margin-bottom: 15px;
}

.popup-content button {
    padding: 10px 20px;
    background-color: #605379;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #4a3f5a;
}