
.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #605371;
    padding: 0 10px;
    flex-direction: row-reverse;
}

h1 {
    text-align: center;
}

.return-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.return-button:hover {
    background-color: #0056b3;
}