
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #605371;
}
.header h1 {
    font-size: 42px;
    text-align: center;
    flex-grow: 1;
    color: white;
}

h1 {
    text-align: center;
}

.return-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.return-button:hover {
    background-color: #0056b3;
}