.admin-mikve-search {
    display: flex;
    direction: rtl;
    text-align: right;
    justify-content: center;
    align-items: center;
    /* height: 40px; */
    margin-right: 10px;

}

.mikve-button {
    background-color: #605371;
    color: white;
    border: none;
    border-radius: 20px;
    /* padding: 10px 20px; */
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
#mikve-button-search {
    margin-right: 10px;
    height: 28px;
}
.mikve-button:hover {
    background-color: #4a3f5a;
}

#mikve-button-search {
    margin-right: 10px;
}