.admin-header {
    display: flex;
    background-color: #605379e0;
    color: white;
    position: fixed;
    /* padding: 20px; */
    /* position: fixed; */
    top: 0;
    right: 0;
    width: 15%;
    height: -webkit-fill-available;
    overflow-y: auto;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.admin-header h1 {
    margin: 20px 0 20px 0;
    text-align: right;
}

.admin-operations {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 20px;
    width: 100%;
    text-align: right;
}

.admin-operations h3 {
    margin: 0;
}

/* New styles for the buttons */
.admin-operations button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: right;
    padding: 5px 0;
    position: relative;
}

.admin-operations button::after {
    content: attr(data-text);
    display: block;
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.admin-operations button:hover {
    font-weight: bold;
}

/* Override any existing button styles */
.add-mikve-button,
.download-button,
.mikve-upload-button {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
}

.add-mikve-button:hover,
.download-button:hover,
.mikve-upload-button:hover {
    font-weight: bold !important;
    background: none !important;
}

/* Adjust icon styles if needed */
.admin-operations button svg {
    vertical-align: middle;
    margin-left: 5px;
}

.operations-button {
    border: 1px dashed white;
    padding: 5px;
    margin-left: 20px;
    transition: all 0.3s ease;
    border-radius: 30px;
    cursor: pointer;
}

.operations-button:hover {
    border-width: 2px;
}

.operations-button > * {
    width: 100%;
    display: block;
}

/* Make sure the inner button takes up the full space of the operations-button */
.operations-button button {
    width: 100%;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    text-align: right;
}
