.add-mikve-container {
    direction: rtl;
    text-align: right;
    margin-left: 10px;
}

.add-mikve-button {
    background-color: #605371;
    color: white;
    border: none;
    border-radius: 20px;
    /* padding: 10px 20px; */
    font-size: 16px;
    cursor: pointer;
    /* margin: 5px; */
    transition: background-color 0.3s ease;
}

.add-mikve-button:hover {
    background-color: #4a3f5a;

}

.add-mikve-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add-mikve-content {
    background-color: white;
    padding: 0 0 10px 10px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    direction: rtl;
    text-align: right;
}


.add-mikve-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
    min-width: 100px;
    display: flex;
    /* justify-content: flex-end; */
}

.form-group textarea {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    resize: vertical;
    max-height: 150px;
    min-height: 80px;
}

.form-group input,
.form-group textarea {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
}

.required {
    color: red;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.confirm-add-mikve-button,
.exit-button-add-mikve,
.add-id {
    margin-top: 10px;
    padding: 10px 20px !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.supervision-label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons-container {
    display: flex;
    gap: 30%;
    justify-content: space-between;
}

.add-id {
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
}

#mikve-ids-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    flex: 2;
}

.confirm-add-mikve-button,
.add-id {
    background-color: #00aec6 !important;
    color: white;
    margin-right: 10px;
    text-decoration: none !important;

}

.confirm-add-mikve-button:hover,
.add-id:hover {
    background-color: #008fa3 !important;
    font-weight: normal !important;

}

.exit-button-add-mikve {
    background-color: #f44336 !important;
    color: white;
    text-decoration: none !important;
    font-weight: normal !important;

}

.exit-button-add-mikve:hover {
    background-color: #da3b2f !important;
    font-weight: normal !important;

}




.added-ids {
    margin-top: 5px;
}

.added-id {
    display: inline-flex;
    background-color: #f0f0f0;
    color: black;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.added-id span {
    margin-right: 5px;
}

.added-id button {
    background-color: #f44336;
    color: rgb(255 255 255);
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 50%;
    font-size: 12px;
    width: 20px;
    height: 20px;
    margin-right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.supervision-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.supervision-group label {
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    min-width: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.supervision-group input {
    margin-left: 250px;
}

/* Select boxes styling */
.form-group select {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    background-color: white;
}

/* Options styling */
.form-group option {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    background-color: white;
}

.autocomplete-input {
    width: 100%;
    padding: 0.5em;
    font-size: 0.88em;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="14" height="14" stroke-width="1.6" stroke="%23666"><path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /></svg>') no-repeat left 2px center;
    padding-left: 30px;
    /* Adjust padding to make room for the icon */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.autocomplete-item {
    padding: 0.5em;
    cursor: pointer;
}

.autocomplete-item.highlighted {
    background: lightgray;
}


.add-mikve-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: black;

}

.add-mikve-title {
    margin-right: 15px !important;
    display: flex !important;
    justify-content: center !important;
    flex-grow: 1 !important;
    text-align: right !important;
    white-space: nowrap !important;
}

.add-mikve-close-icon {
    display: flex !important;
    justify-content: left !important;
    background: none !important;
    border: none !important;
    color: gray !important;
    font-size: 20px !important;
    cursor: pointer !important;
    transition: transform 0.2s ease, color 0.2s ease !important;
    margin-left: 10px !important;
}

.add-mikve-close-icon:hover {
    color: darkgray !important;
}