.admin-upload-xl {
    display: flex;
    direction: rtl;
    text-align: right;
    align-items: flex-end;
}

.admin-upload-xl input[type="file"] {
    display: none;
    /* הסתרת קלט הקובץ */
}

.clear-file-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    margin-left: 5px;
}


#input-xl-file {
    display: none;
}

label {
    display: block;
    margin-top: 10px;
    margin-right: 10px;
}

.mikve-upload-xl-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mikve-upload-xl-popup-content {
    background: white;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
}

.confirm-upload-xl-button {
    background-color: #00aec6;
    color: white;
}

.confirm-upload-xl-button:hover {
    background-color: #008fa3;
}

.cancel-upload-xl-button {
    background-color: #f44336;
    color: white;
}

.cancel-upload-xl-button:hover {
    background-color: #da3b2f;
}

.upload-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.upload-file-name {
    display: flex;
}

.error-message {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
}