.admin-upload-xl {
    direction: rtl;
    text-align: right;
}

.admin-upload-xl input[type="file"] {
    display: none;
    /* הסתרת קלט הקובץ */
}

.clear-file-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.mikve-upload-xl-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mikve-upload-xl-popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}