.edit-mikve-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.edit-mikve-content {
    background-color: white;
    padding: 0 0 10px 10px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    direction: rtl;
    text-align: right;
}

.edit-mikve-content h2{
    display: flex;
    justify-content: center;
}

.edit-mikve-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
    /* Align form elements to the right */
}

.form-group label {
    margin-right: 10px;
    margin-left: 10px;
    text-align: right;
    /* Align text to the right */
    min-width: 100px;
}

.form-group textarea {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    /* Align text to the right */
    resize: vertical;
    max-height: 150px;
    min-height: 80px;
}

.form-group input,
.form-group textarea {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    /* Align text to the right */
}

.levad-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
    /* Align form elements to the right */
}

.edit-mikve-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.edit-mikve-buttons .left-buttons {
    display: flex;
    justify-content: flex-start;
}

.edit-mikve-buttons .right-buttons {
    display: flex;
    justify-content: flex-end;
}

.edit-mikve-buttons .right-buttons button {
    margin-left: 10px;
}

.edit-mikve-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button {
    background-color: #4caf50;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.adds-id {
    margin-top: 10px;
    direction: ltr;
    /* Make the direction left-to-right for this section */
    text-align: left;
    /* Align text to the left */
}

.added-id {
    display: inline-flex;
    align-items: center;

    margin-top: 5px;
}

.added-id span {
    margin-right: 5px;
}

.added-id button {
    margin-left: 5px;
}

.delete-mikve-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-mikve-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.edit-mikve-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-button {
    background-color: #00aec6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #008fa3;
}